---
layout: default
---

<div class="home"> 
  {% assign dishes = site.recipes | group_by:"dish" %}
  {% for dish in dishes %}
    <h2>{{ dish.name }}</h2>
    <div class="recipes xs-px1 xs-mt2">
        <div class="recipe-list">
      {% for post in dish.items %}
            <a class="relative recipe" href="{{ post.url | prepend: site.baseurl }}">
              <div class="recipe-image" style="background-image: url({{site.baseurl}}/images/{{ post.image | pop }})" ></div>
              <div class="recipe-title absolute bottom-0 left-0 right-0">
              <h3 class="title p2 m0 bold white">{{ post.title }}</h3>
            </div>
            </a>
      {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
