<!-- recipe metadata -->
{% if page.servings != nil %}
  <div class="recipe-metadata">
    <h5 class="metadata-header">Portionen</h5>
    <p class="metadata-value" itemprop="recipeYield">{{ page.servings }}</p>
  </div>
{% endif %}
{% assign durations = page.durations %}
{% for duration in durations  %}
  {% assign field = duration.first %}
  {% assign itemprop = site.data.durations[field].property %}
  {% assign name = site.data.durations[field].name %}
  {% assign value = duration.last %}
  <div class="recipe-metadata">
    <h5 class="metadata-header">{{ name }}</h5>
    <p class="metadata-value" itemprop="{{ itemprop }}">{{ value }}</p>
  </div>
  {% endfor %}
<!-- end recipe metadata -->
