* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #222;
  color: rgba(white, 0.8);
}

body {
  font-family: 'Inter UI', Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 100%;
}
